# Client section (MySQL client configuration)
# Note that it also needs to be set up in the client VM
[client]
default-character-set=utf8mb4 # Character set https://dev.mysql.com/doc/refman/8.0/ja/server-system-variables.html

# MySQL section
[mysql]
default-character-set = utf8mb4 # Character set

# Server section (MySQL server configuration)
# En: http://dev.mysql.com/doc/mysql/en/server-system-variables.html
# Ja: https://dev.mysql.com/doc/refman/8.0/ja/server-system-variables.html
[mysqld]
#
# * Basic Settings
#
user            = mysql # User name
# pid-file      = /var/run/mysqld/mysqld.pid # PID file
# socket        = /var/run/mysqld/mysqld.sock # Unix socket file
# port          = 3306 # Port num
# datadir       = /var/lib/mysql # MySQL data directory

# If MySQL is running as a replication slave, this should be
# changed. Ref https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_tmpdir
# tmpdir                = /tmp
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address            = * # From which IP address MySQL is going to accept the requests. "*" means all the IP V4/V6 addresses will be accepted
mysqlx-bind-address     = * # From which IP address MySQL X Plugin s going to accept the requests. "*" means all the IP V4/V6 addresses will be accepted
#
# * Fine Tuning
#
key_buffer_size         = 16M # Buffer size for the index block of a MyISAM table
# max_allowed_packet    = 64M # Max size of a packet to be communicated.
# thread_stack          = 256K # Stack size of a thread

thread_cache_size       = 300 # Num of threads to be cached. Default is "-1" (= auto)

# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
myisam-recover-options  = BACKUP # Recovery mode for MyISAM tables. "BACKUP" means taking a backup of the data file when it is modified during the recovery process

max_connections        = 500 # Max allowed connections from clients

# table_open_cache       = 4000 # Max num of tables that can open at the same time

#
# * Logging and Replication
#
# Both location gets rotated by the cronjob.
#
# Log all queries
# Be aware that this log type is a performance killer.
# general_log_file        = /var/log/mysql/query.log # General query log file name
# general_log             = 1 # Enable or Disable general query log
#
# Error log - should be very few entries.
#
log_error = /var/log/mysql/error.log # Error log
#
# Here you can see queries with especially long duration
slow_query_log                = 1 # Enable or Disable slow query log. Don't forget to disable it before submitting
slow_query_log_file   = /var/log/mysql/mysql-slow.log # Slow query log file name
long_query_time = 0.1 # In more than how many secs it's going to output a slow query log
# log-queries-not-using-indexes # Log a query that does not have any valid index to the slow query log (if enabled)
#
# The following can be used as easy to replay backup logs or for replication.
# note: if you are setting up a replication slave, see README.Debian about
#       other settings you may need to change.
# server-id             = 1 # Server ID for replication
log_bin                       = OFF # Enable or Disable binary log
# binlog_expire_logs_seconds    = 2592000 # Expiration seconds for binary log
# max_binlog_size   = 100M # Max size of binary log
# binlog_do_db          = include_database_name # Database it will record binary log
# binlog_ignore_db      = include_database_name # Database it will not record binary log

skip-name-resolve # Disable name resolution

# InnoDB configuration
innodb_buffer_pool_size = 1G # Size of InnoDB buffer pool. Keep it as <= 50% of RAM in the server
innodb_log_file_size = 128M # Size of redo log. Keep innodb_log_file_size * 4 < innodb_buffer_pool_size
innodb_flush_log_at_trx_commit = 2 # Flush strategy of each commit. "2" means redo log will be created after each commit but it will be flush every sec
innodb_flush_method = O_DIRECT # Method of flush. "O_DIRECT" means opening the InnoDB data file with O_DIRECT and flushing the data file and the log file with fsync()
skip_innodb_doublewrite # Skip writing to double write buffer

# Character set configuration
character-set-server = utf8mb4 # Character set
collation-server=utf8mb4_unicode_ci

# Dump configuration
[mysqldump]
quick # Disable memory buffering of the rows when dumping. Good for large scale dump
quote-names # Quote identifiers with "`" when dumping
max_allowed_packet      = 16M # Max size of a packet to be communicated.